body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h2 {
  color: #fff;
  font-size: 5rem;
  font-family: 'Wendy One', sans-serif;
  text-transform: uppercase;

}

p {
  color: #fff;
  font-size: 1.3rem;
  padding: 1rem;
  word-spacing: 2px;
  letter-spacing: 2px;
  font-family: 'Libre Caslon Display', serif;
}

.my-text-bgcolor p {
  background-color: rgba(156, 154, 154, 0.561);
  margin-top: 1.5rem;
}

img {
  border-radius: 10px;
  box-shadow: 6px 10px 10px 15px rgba(156, 154, 154, 0.561);
  padding: 1rem;
}


/* parallax general */
.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.plx1 {
    background-image: url('images/4.jpeg'); 
  }
.plx2 {
    background-image: url('images/utro3.jpg');
  }

.plx3 {
    background-image: url('images/1.jpeg');
    height: 50vh;
  }
.plx4 {
  background-image: url("images/3.jpeg");
  height: 60vh;
  }


/* start background color divs*/
  .color-div {
    height: 75vh;
    width: 100%;
  }

  /* 1 */
  .color-div1 {
    background-color: rgb(151, 177, 199);
  }
  .color-div1a {
    background-color: rgb(184, 202, 188);
    display: flex;   /*for button styling*/
  }

  .content1 h2 {
    margin-top: 7rem;
  }
  .content1 p {
    text-align: left;
    margin-left: 2%;
  }


  /* 2 */
  .color-div2 {
    background-color: rgb(132, 168, 160);
  }
  .content2 {
    margin-top: 10rem;
  }
  .content2a p {
    text-align: left;
  }

  .color-div2 {
    position: absolute;
  }
  .content2a  {
    position: relative;
  }


  /* 3 */
  .color-div3 {
      background-color: rgb(39, 62, 82);
  }

  .color-div3 p {
    text-align: left;
    margin-left: 37%;
  }
  
  /* 4 */
  .color-div4 {
    background-color: rgb(65, 128, 114);
    height: 70vh;
  }

  .color-div4 a {
    color: #fff;
    font-size: 2.5rem;
    padding-left: 1rem;
  }

  .insta-img img {
    height: 12rem;
    width: 19rem;
  }

  /* 5 */
  .color-div5 {
    background-color: rgb(128, 175, 138);
  }

  .plx5 {
    background-image: url("images/a1.jpeg");
    float: left;
    height:700px;
    width: 100%; 
    border-right: 200px solid #fff;
    border-top: 700px solid transparent;
    background-attachment: fixed;
    margin-bottom: 10rem;
    background-repeat: no-repeat;
    contain: content;
  }

.slanted-div-btn p {
  color: rgb(64, 85, 85);
  margin-top: 350px!important;
  margin-right: 1%;
  }


/* ////////////////////////// */
   /* button */
  .color-div1a a, .slanted-div a {
    padding:.4rem .7rem;
    display:inline-block;
    position:relative;
    font-family: 'Wendy One', sans-serif;
    padding:5px 20px;
    letter-spacing: 2px;
    border: 5px solid rgb(151, 177, 199);
    color: rgb(151, 177, 199);
    text-shadow: 1px 2px 4px rgb(64, 69, 73);
    font-size: 1.9rem;
    text-decoration:none;
    font-weight: bold;
    transition: color 0.3s;
  }

  .my-btn:after, 
  .my-btn-2:after {
    content:"";
    display:inline-block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    transition:all 0.3s;
  }
  .color-div1a a:hover, 
  .slanted-div a:hover,
  .color-div4 a:hover {
    color: rgb(236, 233, 233);
  }
  .my-btn:hover:after, 
  .my-btn-2:hover:after {  
    border:5px solid rgb(207, 231, 230);
    width: calc(110% - 25px);
    height: calc(110% + 25px); 
  }

footer p {
  color: rgb(65, 84, 100);
  font-weight: bold;
  margin-top: 8rem;
}






/* media queries */
@media (min-width: 320px) and (max-width: 767px) {
.parallax {
  height: 100vh;  
}

img {
  margin-bottom: 1rem;
}
h2 {
  font-size: 1rem!important;
  text-transform: uppercase;
}

p {
  padding: 5px;
  letter-spacing: 2px;
  font-size: .8rem;
}

.color-div1a a, .slanted-div a {
  padding:5px;
  font-size: 1.5rem;
}

/* 1 */
.plx1 {
  height: 120vh;
}
.content1 h2 {
  margin-top: 5px!important;
}
.plx1 img {
  margin-left: 7%;
}
.color-div {
  height: 60vh;
  width: 100%;
}

.color-div1 h2 {
  margin-top: 5rem!important;
}


/* 2 */
.plx2 {
  height: 90vh;
}

.content2aa {
  height: 100vh;
}
.my-text-bgcolor p {
  width: 100%!important;
}

.content2 h2 {
  margin-top: 10px!important;
}

.color-div2 {
  height: 100vh;
}
.color-div2 {
  height: 120vh;
}



/*3  */
.plx3 {
  height: 150vh;
}
.color-div3 {
margin-top: 0rem;
height: 120vh;
position: static;
}

.image3 img {
height: 16.3rem!important;
width: 17rem!important;
margin-top: 4rem;
}
.color-div3 {
height: 70vh;
padding-top: 5rem;
}

.color-div3 p {
width: 100%!important;
float: none!important;
margin-left: 5px;
padding: 20px;
}

.color-div3 h2 {
  margin-top: 2rem!important;
}

/* 4 */
.plx4 {
display: none;
}
.color-div4 {
  height: 150vh;
  padding: 2rem 0px 2rem 0px;
}
.insta-img img {
height: 10rem;
width: 15rem;
}

/* 5 */
.plx5 {
background-image: url("images/in5.jpg");
height:50px;
width: 100%; 
border-right: 100px solid #fff;
border-top: 250px solid transparent;
margin-bottom: 2rem;
background-color: rgb(160, 185, 136);
}

.slanted-div-btn p {
margin-top: -2rem!important;
margin-right: 1%;
}

footer p {
  margin-top: 3rem;
}

}

/*  Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 992px) {
  .parallax {
    height: 85vh;   
  }

  img {
    margin-bottom: 2rem;
  }
  /* 1 */
  .plx1 img {
    margin-left: 28%;
  }
  .color-div {
    height: 40vh;
    width: 100%;
  }

  /* 2 */
  .plx2 {
    height: 60vh;
  }
  .my-text-bgcolor p {
    width: 100%!important;
  }

  .color-div2 {
    height: 60vh;
  }

 /*3  */
.color-div3 {
    margin-top: -35rem;
  
}
.image3 {
   z-index: 1;
}
.image3 img {
  height: 27rem!important;
  width: 22rem!important;
  margin-top: 4rem;
}
.color-div3 {
  height: 50vh;
}
.color-div3 p {
  width: 45%!important;
  margin-right: 2%;
  float: right!important;
}

/* 4 */
.plx4 {
  height: 40vh;
}
.insta-img img {
  height: 10rem;
  width: 15rem;
}

.plx5 {
  background-image: url("images/111.jpeg");
  float: left;
  height:300px;
  width: 100%; 
  border-right: 100px solid #fff;
  border-top: 200px solid transparent;
  margin-bottom: 2rem;
}

.slanted-div-btn p {
  margin-top: -2rem!important;
  margin-right: 1%;
}

footer p {
  margin-top: 5rem;
}
}


